:root {
  /* Light Mode Variables */
  --color-background: #fff;
  --color-border: #e0e0e0;
  --color-text: #5f6368;
  --color-event-background: #f1f3f4;
  --shadow-soft: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-event: 0 1px 2px rgba(0, 0, 0, 0.1);
  --border-radius: 8px;
  --border-radius-event: 4px;
  --font-family: 'Product Sans', sans-serif;
}

/* Dark Mode Variables */
.dark-mode {
  --color-background: #202124;
  --color-border: #5f6368;
  --color-text: #e8eaed;
  --color-event-background: #303134;
  /* Shadows can remain the same */
}

.day-view-container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: var(--color-background);
  box-shadow: var(--shadow-soft);
  border-radius: var(--border-radius);
  text-align: left;
  align-items: start;
  font-family: var(--font-family);
}

.hour-slot, .events, .event {
  display: flex;
  align-items: start;
}

.hour-slot {
  border-bottom: 1px solid var(--color-border);
  padding: 15px;
}

.hour-label {
  font-weight: 500;
  color: var(--color-text);
  margin-right: 20px;
  width: 50px;
  text-align: right;
}

.events {
  flex-grow: 1;
}

.event {
  background-color: var(--color-event-background);
  padding: 10px;
  border-radius: var(--border-radius-event);
  margin-top: 5px;
  box-shadow: var(--shadow-event);
  font-size: 0.9rem;
  transition: background-color 0.3s, box-shadow 0.3s;

  /* Interaction States */
  &:hover {
    background-color: darken(var(--color-event-background), 10%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 600px) {
  .day-view-container {
    max-width: 100%;
  }

  .hour-label, .event {
    font-size: 0.8rem;
  }
}
