:root {
  /* Light Mode Variables */
  --background-base: #F8F9FA;
  --background-form: #FFFFFF;
  --color-text: #202124;
  --color-border: #E0E0E0;
  --color-button: #1A73E8;
  --color-button-hover: #2A85F9;
  --shadow-form: 0 1px 6px rgba(0, 0, 0, 0.1);
  --border-radius: 0px;
  --border-radius-button: 4px;
  --font-family: 'Product Sans', sans-serif;
}

/* Dark Mode Variables */
.dark-mode {
  --background-base: #202124;
  --background-form: #303134;
  --color-text: #E8EAED;
  --color-border: #5F6368;
  --color-button: #1A73E8;
  --color-button-hover: #3B8BFA;
  /* Shadow can remain the same */
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background: var(--background-base);
  height: 600vh;
  padding: 20px;
  font-family: var(--font-family);
}

.event-form {
  width: 100%;
  max-width: 600px;
  max-height: 400vh;
  padding: 24px;
  background: var(--background-form);
  margin-top: 60px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-form);
  border: 1px solid var(--color-border);
  overflow-y:auto;
}

.form-title {
  margin-bottom: 16px;
  color: var(--color-text);
  font-size: 24px;
  font-weight: 500;
}

.form-grid {
  margin-bottom: 16px;
}

.form-navigation-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.previous-button, .next-button, .save-button {
  margin-top: 10px;
  padding: 6px 16px;
  border: none;
  border-radius: var(--border-radius-button);
  background-color: var(--color-button);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.previous-button:hover, .next-button:hover, .save-button:hover {
  background-color: var(--color-button-hover);
}

.scrollable-form {
  max-height: 800px;
  overflow-y: auto;
}

input[type="text"], select, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  text-align: left;
}

input[type="text"]:focus, select:focus, textarea:focus {
  margin:4px;
}
