:root {
  /* Light Mode Variables */
  --color-background: #FFFFFF;
  --color-border: #DDD;
  --font-family: 'Product Sans', sans-serif;
}

/* Dark Mode Variables */
.dark-mode {
  --color-background: #303134;
  --color-border: #555;
}

.year-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  grid-auto-rows: minmax(40px, auto);
  background-color: var(--color-background);
  font-family: var(--font-family);
}

.month-container {
  display: flex; /* Set the display property to flex */
  flex-direction: column; /* Arrange child elements vertically */
  height: 100%; /* Ensure that the container takes up the full height of its parent */
}

.month-container > div {
  flex-grow: 1; /* Make the child div elements grow to occupy remaining space */
}
