:root {
  /* Light Mode Variables */
  --color-background: #FFFFFF;
  --color-border: #DDD;
  --font-family: 'Roboto', sans-serif;
}

/* Dark Mode Variables */
.dark-mode {
  --color-background: #303134;
  --color-border: #555;
}

.year-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  grid-auto-rows: minmax(40px, auto);
  background-color: var(--color-background);
  font-family: var(--font-family);
}
