:root {
  /* Base colors for Light Mode */
  --background-app-light: #FFFFFF;
  --text-app-light: #000000;
  --element-bg-light: #F0F0F0;
  --border-light: #CCCCCC;
  --link-color-light: #1A0DAB;

  /* Base colors for Dark Mode */
  --background-app-dark: #121212;
  --text-app-dark: #FFFFFF;
  --element-bg-dark: #1E1E1E;
  --border-dark: #333333;
  --link-color-dark: #BB86FC;

  /* Base colors for High Contrast Mode */
  --background-app-highContrast: #000000;
  --text-app-highContrast: #FFFFFF;
  --element-bg-highContrast: #FFFFFF;
  --border-highContrast: #FFFFFF;
  --link-color-highContrast: #FFCC00;
}

.app.dark {
  background-color: var(--background-app-dark);
  color: var(--text-app-dark);
}

.app.dark button, 
.app.dark input, 
.app.dark select, 
.app.dark textarea {
  background-color: var(--element-bg-dark);
  color: var(--text-app-dark);
  border: 1px solid var(--border-dark);
}

.app.dark a {
  color: var(--link-color-dark);
}

.app.light {
  background-color: var(--background-app-light);
  color: var(--text-app-light);
}

.app.light button, 
.app.light input, 
.app.light select, 
.app.light textarea {
  background-color: var(--element-bg-light);
  color: var(--text-app-light);
  border: 1px solid var(--border-light);
}

.app.light a {
  color: var(--link-color-light);
}

.app.highContrast {
  background-color: var(--background-app-highContrast);
  color: var(--text-app-highContrast);
}

.app.highContrast button, 
.app.highContrast input, 
.app.highContrast select, 
.app.highContrast textarea {
  background-color: var(--element-bg-highContrast);
  color: var(--text-app-highContrast);
  border: 2px solid var(--border-highContrast);
}

.app.highContrast a {
  color: var(--link-color-highContrast);
}
